body {
  color: #263238;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.section {
  padding-top: 90px;
  padding-bottom: 90px;
}

/* Header section */

.header {
  padding: 55px 0;
}

.container {
  width: 1378px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header-conteiner {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;

  color: #000000;

  margin-right: 235px;
}

.logo-acent {
  color: #939393;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 20px 0;
}

.header-button {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;

  border: 2px solid #263238;
  border-radius: 10px;
  background-color: transparent;
  padding: 20px 56px;
  min-width: 312px;
  min-height: 70px;
  cursor: pointer;
}

/* Hero section */

.hero {
  padding-top: 0;
}

.hero-conteiner {
  display: flex;
}

.hero-title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  color: #000000;
  margin-bottom: 40px;
}

.hero-desc {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;

  color: #8f95a5;
  margin-bottom: 60px;
}
.hero-button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #ffffff;
  background: #263238;
  border-radius: 10px;
  padding: 23px 64px;
  min-width: 426px;
  min-height: 100px;
}
.hero-left {
  width: 540px;
}
.hero-right {
  margin-left: auto;
}

/* skills section */

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: calc(72 / 48);

  color: #000000;

  margin-bottom: 60px;
  outline: 1px solid red;

  text-align: center;
}

.skills-subtitle {
  font-weight: 600;
  font-size: 30px;
  line-height: calc(45 / 30);

  color: #263238;

  padding-top: 24px;
  padding-bottom: 20px;
}

.skills-desc {
  font-size: 16px;
  line-height: calc(24 / 16);

  color: #8f95a5;
}

.skills-desc-first {
  margin-bottom: 24px;
}

.skills-list {
  display: flex;


  gap: 30px;
}

.skills-item {
  width: 426px;

  background-color: #f5f5f5;
  border-radius: 10px;

  padding: 32px 18px;
}

.skills-item-shrink {
  flex-shrink: 0;
}

.skills-button {
  min-width: 230px;
  min-height: 60px;

  background-color: #263238;
  border-radius: 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: calc(27 / 18);

  color: #ffffff;

  margin-top: 30px;

  cursor: pointer;
}

.skills-inner-list {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}

.skills-inner-item {
  flex-grow: 1;
}

.skills-item-grow {
  flex-grow: 1;
}